.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    border-radius: 12px;
}

.imageWrapper {
    position: relative;
    padding-top: 68.56%;
    width: 100%;
    display: flex;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 16px;
}

.image:hover .description{
    transition: 320ms linear;
    opacity: 1;
}

.infoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0;
}

.infoContainer > * {
    margin-right: 10px;
    color: #656565;
}

.infoContainer:last-child {
    margin: 0;
}

.description {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    background: linear-gradient(90deg, #00000045, transparent);
    transition: 300ms;
}

.description:not(:last-child) {
    user-select: none;
    margin-bottom: 10px;
}

.openCard {
    padding: 0;
    color: #ffffff;
}